:root{
    ---primary-color:rgba(218, 215, 204, 44);
    --spacing-0-5:0.5rem;
    --spacing-1:1rem;
    --spacing-1-5:1.4rem;
    --spacing-1-7:1.7rem;
    --spacing-2:2rem;
    ---text-shadow:0px 4px 8px #0D0C0C, 0px 2px 4px #0D0C0C;
    ---text-color:#D9BD82;
    --radius-sm: 6px;
    --border: 1px solid #9c8d6b;
}
/* reset styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* common styles */
body{
    background-color: var(---primary-color);
    font-family: 'Inknut Antiqua', serif;
    font-style:normal;
    font-weight: 400;
    color: var(---text-color);
    text-shadow: var(---text-shadow);
    font-size: var(--spacing-1-5);
    display: flex;
    flex-direction: column;
}


a, h1{
    font-family: 'Inknut Antiqua', serif;
    font-style:normal;
    color: var(---text-color);
    text-shadow: var(---text-shadow);
}

a {
    text-decoration: none;
     transition: text-shadow 0.3s ease;
    &:hover{
        text-shadow: 0px 0px 30px #f4e411, 0px 2px 4px #0D0C0C;
    }
}

/* .nav-link, .terms-link, .toggle{
    transition: text-shadow 0.3s ease;
    &:hover{
        text-shadow: 0px 0px 30px #f4e411, 0px 2px 4px #0D0C0C;
    }
} */
h1{
    font-size: var(--spacing-1-5);
    color: #FDD175;
    font-weight: 400;
}
.hd-name{
    /* margin-top: 40px; */
    /* margin-bottom: 5px; */
    font-size: var(--spacing-1-7);
    height: 50px;
    min-width: 300px;
}
.italic{
    font-style: italic;
    padding-left: 15px;
}

.container{
    background-image:url(../assets/images/image\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 95vh;
    width: 70vw;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.inner-container{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    padding: 15px;

}
.main{
    height: 100%;
    width: 55%;
}


 p{
    text-align: left;
    margin-top: 5px;
    /* margin-left: 15px; */
    font-size: var(--spacing-1);
    padding: 0;
 }
 .header{
    max-width: 35%;
    height: 100%;
    /* width: 25vw;
    height: 80vh; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
 }

 .my-photo{
    width: 70%;
    height: 70%;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 80);
    border-radius: 8%;
    object-fit: cover;
 }
 .content{
    width: 90%;
    height: 100%;
    transform: translate(5%, 0);
 }
 ul{
    list-style: none;
 }
 .nav-list{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    
 }
 .nav-item{
    margin-bottom: 20px;
    padding: 5px;
 }

 .nav-item{
    text-align:left;
    height: 35px;
 }
 .footer{
    display: inline-flex;
    flex-direction: row;
    gap:var(--spacing-1);
    margin-top: 10px;
 }
 .footer-item{
    max-width: 40%;
    font-size: small;
    height: 5%;
    margin: 0;
 }

 .text-content{
    background-image: url(../assets/images/Rectangle\ 4.png);
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 80);
    border-radius: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    overflow-y: hidden;
    font-size: var(--spacing-1);
    text-align: center;
 }

.about-text{
    opacity: 0;
    animation: fade-in ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 .services-list, .projects-descriptions{
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    anchor-name: --myCarousel;

    &::scroll-button(*) {
        border: 0;
        font-size: 2rem;
        background: none;
        color: rgb(0 0 0 / 0.7);
        cursor: pointer;
        position: absolute;
        position-anchor: --myCarousel;
    }
        &::scroll-button(*):hover,
        &::scroll-button(*):focus {
        color: rgb(0 0 0 / 1);
        }

        &::scroll-button(*):active {
        translate: 1px 1px;
        }

        &::scroll-button(*):disabled {
        color: rgb(0 0 0 / 0.2);
        cursor: unset;
        }
        &::scroll-button(left) {
        content: "◄";
        right: calc(anchor(left) - 70px);
        bottom: calc(anchor(top) + 13px);
        }

        &::scroll-button(right) {
        content: "►";
        left: calc(anchor(right) - 70px);
        bottom: calc(anchor(top) + 13px);
        }

 }


 .service-card{
    display: block;
    padding: 30px;
    flex: 0 0 100%;
    scroll-snap-align: center;
 }

 .project-card {
    
    height: 90%;
    display: block;
    flex: 0 0 100%;
    scroll-snap-align: center;
    /* background-image: url(../assets/images/image\ 6.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left 0 top 0; */

 }
 .toggle{
    display: block;
    text-align: right;
 }
 .projects-list{
    padding: 20px 50px;
    text-align: left;
    
 }
 .project-card-link {
    position: relative;
 }
 .project-photo{
    width: 50%;
    height: 50%;
    display:block;
    /* position: absolute; */
    top: 0;
    left: 0;

 }
 .project-card-text {
    position: absolute;
    display: block;
    top: 20%;
    /* left: 10%; */
 }

 .contact-me-form{
    padding-top: 20%;
    padding-right: 5px;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top:10%; */
    left: 20%;
    /* gap: 10px; */
 }
 .contact-form-item{
    display: block;
    align-content: space-between;
    flex: 1 1 50px;
 }
 .contact-me-content{
    position: relative;
    display: flex;
    flex-direction: row;
 }
 .contact-img{
    width: 30%;
    height: 30%;
    object-fit:cover;
    object-position: top left;
 }

 .input {
    padding: var(--spacing-0-5);
    border-radius: var(--radius-sm);
    border: var(--border);
    background-color: var(---primary-color);
    &:focus-visible{
        outline: #b49c62 solid 2px;
    }
    &:hover {
        box-shadow: 0px 0px 20px #dfdb9e, 0px 2px 4px #0D0C0C;;
    }
 }

 .textarea {
    padding: var(--spacing-0-5);
    border-radius: var(--radius-sm);
    border: var(--border);
    background-color: var(---primary-color);
    resize: none;
    &:focus-visible{
        outline: #b49c62 solid 2px;
    }
    &:hover {
        box-shadow: 0px 0px 20px #dfdb9e, 0px 2px 4px #0D0C0C;;
    }
 }

 .contact-submit {
     border-radius: var(--radius-sm);
    border: var(--border);
    background-color: var(---primary-color);
    width: 50%;
    margin: 0 auto;
    &:focus-visible{
        outline: #b49c62 solid 2px;
    }
    &:hover {
        box-shadow: 0px 0px 20px #dfdb9e, 0px 2px 4px #0D0C0C;;
    }
 }
 