:root{
    ---primary-color:rgba(218, 215, 204, 44);
}
/* reset styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(---primary-color);
    font-family: 'Inknut Antiqua', serif;
    font-style:normal;
    font-weight: 400;
    color: #D9BD82;
    text-shadow: 0px 4px 8px #0D0C0C, 0px 2px 4px #0D0C0C;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
a, h1{
    margin: 0;
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    font-style:normal;
    color: #D9BD82;
    text-shadow: 0px 4px 8px #0D0C0C, 0px 2px 4px #0D0C0C;
    font-weight: 400;
    padding: 0;
}
.hd-name{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 35px;
    height: 50px;
    /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); */
}

.container{
    background-image:url(../assets/images/image\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    margin: 10px auto;
    padding-right: 60%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.inner-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}
main{
    width: 45%;
    position: relative;
}
/* header{
    max-width: 50%;
} */

 p{
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    padding: 0;
 }
 header{
    width: 50%;
     display: flex;
    flex-direction: column;
    position: relative;
 }
 /* .hd-flex-item{
    width: 50%;
 } */
 .my-foto{

    width: 70%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 80);
    border-radius: 10%;
 }
 .content{
    position: relative;
    width: 120%;
    transform: translate(5%, 20%);
 }
 ul{
    padding: 0;
    list-style: none;
 }
 li{
    margin-bottom: 20px;
    
    padding: 5px;
 }
 .nav-list{
    text-align: left;
 }
 .nav-item{
    text-align: center;
    height: 35px;
 }
 .footer{
    display: inline-flex;
    flex-direction: row;
    gap:5%;
    margin-top: 5%;
 }
 .footer-item{
    max-width: 40%;
    font-size: small;
    height: 5%;
    margin: 0;
 }


